<div class="flex justify-end w-full self-end relative">
  @if(toggleRuleValue){<div class="bg-white pb-20 rounded-lg absolute right-0 w-[100%]   bottom-20 flex flex-col">
    <div class="flex items-center justify-between px-10 py-8">
        <p class="bold text-2xl text-slate-900">RULES</p>
        <div class="close w-5 h-5 cursor-pointer" (click)="toggleRule()"></div>
    </div>
    <div class="rules w-full h-[30vh] " ></div>
  </div>}
  <button
  (click)="toggleRule()"
    class="cursor-pointer transition hover:bg-white hover:text-gray-600 border-2 border-gray-600 rounded-lg w-32 h-10 text-white"
  >
    RULES
  </button>
</div>
